<table>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Release Year</th>
        <th>Genre</th>
    </tr>
    <% @songs.each do |song| %>
        <tr>
            <td><%= link_to(song.title, song_path(song)) %></td>
            <% @attributes.each do |attr| %>
                <td><%= song.send(attr) %></td>
            <% end %>
        </tr>
    <% end %>
</table>
